* {
  box-sizing: border-box;
}
body {
  width; 80%;
  margin: 0px auto;
  background-color: #060ce9;
  color: #fff;
  padding: 20px;
}

article {
  width: 33%;
  /*height: 0px;*/
  border: 2px solid #091540;
  padding:15px;
  background-color: #fff;
  color: #999;
  display:inline-block;
  font-size: 1.5rem;
  text-align: center;
}

#scorePlaceholder {
  width: 20%;
  height: 35px;
  background-color: #f1f1f1;
  border: 3px solid #999;
}
