* {
  box-sizing: border-box;
}
body {
  width: 60%;
  margin: 0px auto;
  background-color: #060ce9;
  color: #fff;
  padding: 20px;
}

#showCategories {
  display:flex;
}

article {
  width: 33%;
  border: 2px solid #091540;
  padding:15px;
  background-color: #fff;
  color: #999;
  font-size: 1.5rem;
  text-align: center;
  justify-content: center;
}

article.boxOne.question {
  width: 99%;
}

#scoreBoard {
  width: 250px;
  height: 35px;
  background-color: #3D5A6C;
  border: 3px solid #999;
  color: #B4E33D;

}
p.score {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 20px;
}

.checkYourAnswer {
  background-color: #3D5A6C;
  height: 100px;
}
